<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
      {{ 'BTN_search_label' | translate }} {{ 'Records' | translate }}
    </h4>
  </div>
  <form class="form-horizontal" role="form" name="standardForm">

    <div class="modal-body">

      <div class="form-group">
        <label for="name" class="col-md-4 control-label"><span class="requiredField">* </span>{{ 'administration_name_label' | translate }}</label>
        <div class="col-md-7">
          <input type="text" class="form-control input-md" ng-model="name" name="name" id="name" required="required">
          <span class="text-danger" ng-show="showNameErrorMsg">{{ 'administration_required_label' | translate }}</span>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'BTN_cancel_label' | translate }}</button>
      <button type="button" class="btn btn-primary" ng-click="save()">{{ 'BTN_save_label' | translate }}</button>
    </div>
  </form>
</div>
