<!DOCTYPE html>
<html ng-app="saffModuleApp"  ng-controller="languageController">
<!--<![endif]-->
<head>
  <title ng-bind="title">{{'application_title_label' | translate}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../../dist/img/favicon.ico">
  <!-- iPad retina icon -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/dist/img/apple-touch-icon-precomposed-152.png">
  <!-- iPad retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/dist/img/apple-touch-icon-precomposed-144.png">
  <!-- iPad non-retina icon -->
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/dist/img/apple-touch-icon-precomposed-76.png">
  <!-- iPad non-retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/dist/img/apple-touch-icon-precomposed-72.png">
  <!-- iPhone 6 Plus icon -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/dist/img/apple-touch-icon-precomposed-180.png">
  <!-- iPhone retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/dist/img/apple-touch-icon-precomposed-114.png">
  <!-- iPhone non-retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/dist/img/apple-touch-icon-precomposed-57.png">
  <link href="/dist/css/patternfly.min.css" rel="stylesheet" media="screen, print">
  <link href="/dist/css/patternfly-additions.min.css" rel="stylesheet" media="screen, print"> 
  <link href="/components/angular-ui-notification/dist/angular-ui-notification.css" rel="stylesheet" media="screen, print"> 
  <link href="/dist/css/angular-busy.css" rel="stylesheet" media="screen">
  <link href="/dist/css/common.css" rel="stylesheet" media="screen">

  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
  <script src="/components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.sv.min.js"></script>
  <script src="/components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
  <script src="/components/momentjs/moment.js"></script>
  <script src="/components/matchHeight/jquery.matchHeight-min.js"></script>
  <script src="/dist/js/patternfly.min.js"></script>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular-route.min.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular-cookies.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="/components/angular-ui-notification/dist/angular-ui-notification.js"></script>
  <script src="/components/angular-ui/ui-bootstrap-tpls-0.14.2.min.js"></script>  
  <script src="/components/underscore/underscore-min.js"></script>
  <script src="/components/c3/c3.min.js"></script>
  <script src="/components/d3/d3.min.js"></script>
  <!--<script src="/components/angular-chart/angular-chart.js"></script> -->
  <!--<script src="/components/c3-angular-directive/js/c3-angular.min.js"></script>-->
  <script src="/components/angular-translate/angular-translate.js"></script>
  <script src="/components/angular-translate/angular-translate-storage-cookie.js"></script>
  <script src="/components/angular-translate/angular-translate-storage-local.js"></script>
  <script src="/components/angular-translate/angular-translate-loader-static-files.js"></script>

  <script src="/components/angular-bootstrap-confirm/angular-bootstrap-confirm.js"></script> 
  
  <script src="/components/c3-charts/c3-chart.js"></script>
  
  <!-- Application JS -->
  <!-- Application JS -->
  <script src="/dist/js/utility-functions.js"></script>
  <script src="/app/require.js"></script>
  <link href="../../dist/css/adminLayout.css" rel="stylesheet" media="screen, print">

</head>
<body>
  <nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="navbar-brand-icon" src="../../dist/img/logo-header-md@2x.png" alt=""/>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-collapse-1">
      <ul class="nav navbar-nav navbar-utility navbar-iconic">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="pficon pficon-user"></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="../app/st_login.html">{{'main_nav_logOut_label' | translate}}</a></li>
            <li class="dropdown-submenu pull-left">
              <a href="#">{{'main_nav_languages_label' | translate}}</a>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="changeLanguage('en')">{{'main_nav_english_label' | translate}}</a></li>
                <li><a href="#"  ng-click="changeLanguage('sv')">{{'main_nav_swedish_label' | translate}}</a></li>
                <li><a href="#"  ng-click="changeLanguage('zh-CN')">{{'main_nav_chineese_label' | translate}}</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">

      <div id="adminView" class="col-sm-9 col-md-9 col-sm-push-3 col-md-push-3">

        <div id="ui-view" ui-view cg-busy="[reportCategories,CECLocations]"></div>

      </div><!-- /col -->


      <div class="col-sm-3 col-md-3 col-sm-pull-9 col-md-pull-9 sidebar-pf sidebar-pf-left">
        <div class="nav-category">
          <h2>{{'administration_userAdministration_label' | translate}}</h2>
          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{active:$state.includes('pageTemplates')}"><a ui-sref="pageTemplates"  href="#"><i class="fa fa-folder"></i>Template</a></li>
          </ul>
        </div>

      </div><!-- /col -->

    </div><!-- /col -->

  </div><!-- /row -->
</div><!-- /container -->


</body>
</html>
