<link href="../../dist/css/adminLayout.css" rel="stylesheet" media="screen, print">

<div class="row" id="topRow" cg-busy="{promise:pageTemplates.$promise,message:'',delay:0,minDuration:300,templateUrl:'../common/progress_template.html'}">
    <div id="h1_title">
        <span id="h1_title_span">{{ 'administration_pageTitle_label' | translate }}</span>
        <span class="searchFilterMessage">
            <search-filter-message></search-filter-message>
            {{searchFilterMessage}}
        </span>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" width="100%" id="listTable" >
      <tr class="spacerRow"><td><img src="/dist/img/s.gif" class="column1Spacer" /></td><td><img src="/dist/img/s.gif" class="column2Spacer" /></td>
      </tr>
      <tr>
        <td id="ml" width="260" >
                <table cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed" class="middle_list">
                    <tr>
                        <td class="firstChild">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-ng-click="openSearchReportDetailsModal()">{{ 'BTN_search_label' | translate }}</button>
                          <button class="btn btn-default dropdown-toggle" type="button" ui-sref="pageTemplates.new">{{ 'BTN_add_label' | translate }}</button>
                          <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              {{'BTN_show_label' | translate }}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><a href="javascript:void(0)" >10 {{'administration_perPage_label' | translate}}</a></li>
                              <li><a href="javascript:void(0)" >25 {{'administration_perPage_label' | translate}}</a></li>
                              <li><a href="javascript:void(0)" >50 {{'administration_perPage_label' | translate}}</a></li>
                            </ul>
                          </div>
                      </td>
                  </tr>
                  <tr>
                    <td class="mid_list" style="overflow:hidden;">
                        <div class="mid_list">
                            <p ng-show="!pageTemplates.length">
                                {{ 'messages_noResults_label' | translate }}
                            </p>
                            <a ng-repeat="pageTemplate in pageTemplates" ui-sref-active="itemSelected" ui-sref="{{detailsUrl}}({pageTemplatesId:pageTemplate.id})" class="list-group-item" style="min-height:50px;">
                                <div>
                                    <i class="fa fa-clipboard fa-fw"></i>
                                    {{pageTemplate.name}}
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!--
                    <td id="refreshListContainer">
                        <a onclick="selectFirstItem()" ng-click="refreshData()"><span class="pull-right fa fa-refresh"></span></a>
                    </td>
                    -->
                    <td id="paginationContainer">
                        <ul class="pagination">
                          <li>
                            <a href="#">
                              <span class="i fa fa-angle-left"></span>
                            </a>
                          </li>
                          <li>
                            <a href="#">1</a>
                          </li>
                          <li>
                            <a href="#">2</a>
                          </li>
                          <li>
                            <a href="#">3</a>
                          </li>
                          <li>
                            <a href="#">4</a>
                          </li>
                          <li>
                            <a href="#">5</a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="i fa fa-angle-right"></span>
                            </a>
                          </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
        <td id="mc">
            <div class="detailsColumn">
                <div ui-view></div>
            </div>
        </td>
    </tr>
</table> 
</div>
<!-- /.row -->
<script>

    function setUI(){
        topOffset = 50;
        botOffset = 0
        height = ((this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height) - 1;
        height = height - topOffset;
        if (height < 1) height = 1;
        if (height > topOffset) {
            $("#listTable").css("min-height", (height-topOffset-botOffset) + "px");
            $(".middle_list").css("min-height", (height-topOffset-botOffset) + "px");
            $("#panelDetails, .detailsColumn").css("height", (height-topOffset-botOffset) + "px");
            $(".mid_list").css("min-height", (height-topOffset-botOffset)-84 + "px");
        }

    }

    $(window).bind("resize", function() {
        setUI()
    });
    var selectFirstItem = function(){
        setTimeout(function(){
            $('.mid_list .list-group-item').eq(0).trigger('click')
        },500)
    }

    $(function(){  
        setUI();
    });

</script>